.features {
	background-color: #131415;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #ffffff;
  margin-bottom: 40px;
  padding-bottom: 60px;
}

.features__title {
	font-size: 3.6em;
	text-align: center;
}
.features__item {
	display: inline-block;
	width: 20%;
	margin-right: 20px;
}

.features__item:nth-last-child(1) {
  margin-right: 0px;
}

.features__list {
  text-align: center;
}

.features__item-title {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 16px;
  margin-top: 0;
}

.features__desk-list {
  font-weight: 400;
  text-align: initial;
}

.features__desk-item:nth-last-child(1) {
  margin-bottom: 0;
}

.features__desk-list li {
  list-style: disc ;
  list-style-position: inside;
  margin-bottom: 8px;
}

.features__item-text {
  margin-bottom: 13px;
}

.features__icon-background {
  display: block;
  position: relative;
  background: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 27px auto;
}
.features__icon-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.features__item-title_premium:before{
  background-image: url('img/icons/features_2.png');
}

.features__item-title_coach:before{
  background-image: url('img/icons/features_3.png');
}
