.footer {
  background-color: black;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
	color: white;
  position: relative;
  padding: 16px 0;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  flex-basis: 250px;
  font-size: 14px;
	font-weight: 400;
}



.name_footer {
  flex-basis: 250px;
  text-align: center;
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  font-family: 'OpenSans-Bold';
}

.social-networks-wraper {
  /* display: flex;
  align-items: flex-end; */
  text-align: center;
}

.social-networks__title {
  margin-bottom: 5px;
}

.social-networks__list {
  /* float: left; */
  text-align: center;
}

.social-networks__item {
  display: inline-block;
  margin-right: 8px;
}

.social-networks__item:nth-last-child(1) {
  margin-right: 0px;
}

.social-networks__icon:hover {
  background: #f89513;
  transition: 0.3s;
}

.social-networks__icon {
  display: flex;
   position: relative;
   background: none;
   transition: 0.3s;
   width: 20px;
   height: 20px;
   border-radius: 50%;
 }

 .social-networks__icon::before {
   position: absolute;
   content: '';
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   width: 20px;
   height: 20px;

 }
 .social-networks__icon--vk:before {
   background: url('../../img/icons/spritsocial-sprites.png') -38px -33px;
 }
 .social-networks__icon--fb:before {
   background: url('../../img/icons/spritsocial-sprites.png') -70px -7px;
 }
 .social-networks__icon--google:before {
   background: url('../../img/icons/spritsocial-sprites.png') -7px -5px;
 }
 .social-networks__icon--tw:before {
   background: url('../../img/icons/spritsocial-sprites.png') -6px -33px;
 }
 .social-networks__icon--mail:before {
   background: url('../../img/icons/spritsocial-sprites.png') -41px -5px;
 }








.LoftSchool {
  border-bottom: 1px solid;
  font-weight: bold;
  color: white;
}
