.last_news__content {
  display: flex;
}

.last_news {
  font-family: 'Roboto', sans-serif;
 	font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.last-news__main-title {
	font-size: 52px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: left;
  margin-bottom: 57px;
}

.last-news__list {
  list-style-type: none;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.last-news__item {
  margin-bottom: 52px;
  display: flex;

}

.last-news__item:nth-last-child(1) {
  margin-bottom: 0px;
}


.last-news__pic-wrap {
  display: inline-block;
  margin-right: 30px;
}

.last-news__desc {
  /* display: inline-block; */
  /* max-width: 500px; */
}

 .last-news__h4 {
  margin-bottom: 5px;
  font-weight: bold;
 }

 .last-news__date {
   margin-bottom: 20px;
 }
