.nav-in-services {
	margin-bottom: 47px;
}

.nav-in-coments {
	margin-bottom: 52px;
}

.nav__list {
	display: flex;
	flex-direction: column;
}

.nav__title {
	color: #131415;
	font-family: 'OpenSans-Bold';
}
.nav__item {
	display: inline;
  margin-bottom: 22px;
}
.nav__item:nth-last-child(1) {
  margin-right: 0;
}

.nav__link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: center center / contain no-repeat;
}

.nav__link {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-decoration: none;
		position: relative;
}

.nav__link:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: center center / contain no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

/* .nav__link_icon_main:before {
	background: url('../../img/icons/nav-icons-sprite.png')  -10px -48px;
} */

/* .nav__link_icon_main::before {
	background: url('../../img/icons/nav-icons-sprite.png')  -49px -48px;
} */

.nav__link_icon_main::after {
	background: url('../../img/icons/nav-icons-sprite.png')  -49px -48px;
	opacity: 0;
}

.nav__link_icon_main::before {
	background: url('../../img/icons/nav-icons-sprite.png')  -10px -48px;
	opacity: 1;
}

.nav__link_icon_main--active:before {
	background: url('../../img/icons/nav-icons-sprite.png')  -49px -48px;
}

.nav__link_icon_main:hover:before {
	background: url('../../img/icons/nav-icons-sprite.png')  -49px -48px;
	opacity: 0;
}

.nav__link_icon_main:hover:after {
	background: url('../../img/icons/nav-icons-sprite.png')  -49px -48px;
	opacity: 1;
}


/* ------------------------------------------------------------------------ */

.link_icon_reviews:before {
	width: 20px; height: 18px;
	background: url('../../img/icons/nav-icons-sprite.png')  -10px -10px;
	opacity: 1;
}

.link_icon_reviews:after {
	width: 20px; height: 20px;
	background: url('../../img/icons/nav-icons-sprite.png')  -50px -9px;
	opacity: 0;
}

.link_icon_reviews--active:before {
	width: 20px; height: 18px;
	background: url('../../img/icons/nav-icons-sprite.png')  -50px -10px;
}


.link_icon_reviews:hover:before {
		opacity: 0;
}

.link_icon_reviews:hover:after {
		opacity: 1;
}
/* ________________________________________________________________________________ */

.nav__link_services:before {
	width: 20px;
	height: 20px;
	background: url('../../img/icons/nav-icons-sprite.png')  -90px -10px;
	opacity: 1;
}

.nav__link_services:after {
	width: 20px;
	height: 20px;
	background: url('../../img/icons/nav-icons-sprite.png')  -90px -44px;
	opacity: 0;
}

.nav__link_services--active:before {
	width: 19px;
	height: 14px;
	background: url('../../img/icons/nav-icons-sprite.png')  -90px -44px;
}

.nav__link_services:hover:before {
	opacity: 0;
}

.nav__link_services:hover:after {
	opacity: 1;
}

.nav__link:hover .nav__title {
	color: #f89513;
	transition: 0.2s;
}

.nav__link--active .nav__title {
	color: #f89513;
}
