.reviews {
  font-family: 'Open Sans', sans-serif;
 	font-weight: lighter;
  font-size: 18px;
  margin-bottom: 55px;
  line-height: 1.6;
}

.cervices {
  margin-bottom: 30px;
}

.reviews__main-title {
	font-size: 52px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: left;
  margin-bottom: 26px;
}

.review__date {
  font-size: 14px;
  margin-bottom: 5px;

}

.review__username {
  font-weight: bold;
  margin-bottom: 5px;
}

.review__message {
  margin: 0;
  font-weight: lighter;
  color: #221f1f;
}


.reviews__item-serv {
  flex: 1;
}

.reviews__item {
  /* width: calc(100% / 3 - 20px); */
  display: flex;
  /* flex-direction: column; */
  position: relative;
  padding-bottom: 33px;
  margin-bottom: 20px;
}


.list-wrapper {
  /* padding: 10px; */
}
.avatar {
  align-items: flex-start;
  max-width: 160px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

}

.services-img {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.review__avatar {
   margin-right: 19px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   min-width: 160px;
}

.reviews__list--vertical .review__avatar {
   margin-right: 0;
   width: 100%;
   justify-content: center;
   margin-bottom: 18px;
}

.reviews__list--vertical .review__message {
  font-size: 14px;
  letter-spacing: -0.5px;
}

.reviews__pic {
  border-radius: 3%;
  display: block;
  object-fit: cover;
  width: 100%;
}

.reviews__list--vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -60px;
}

.reviews__list--vertical .reviews__item {
  display: flex;
  /* flex-basis: 300px; */
  flex: 1;
  flex-direction: column;
  /* max-width: 30%; */
  align-items: center;
  min-width: 25%;
  margin-right: 60px;
}



.reviews__item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;

}

.reviews__item:last-child:after {
  display: none;
}

.reviews__item:after {
  content: "";
  height: 1px;
  left: 0;
  right: 20%;
  position: absolute;
  bottom: 0;
  background: rgba(222, 222, 222, 0.4);
}

.review__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
